.home_container {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.home__heading {
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

span.home__heading--wt {
  color: #fff;
}

span.home__heading--bt {
  color: #0A4AFF;
}

.home__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;

}

.home__nav--link{
  color: #0A4AFF;
  text-decoration: none;
}

.home__nav--link:hover {
  color: black;
}